* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(53, 0, 53);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 1%;
}

header ul {
  display: flex;
}

header nav {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 5%;
  font-size: 2.2em;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(216, 185, 247);
}

article {
  display: flex;
  margin: 2.6%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(193, 141, 241);
  border: 2vw rgb(164, 78, 245) solid;
}

li a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  margin: 20px;
}

img {
  width: 21vw;
}

article img {
  display: block;
}

footer {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  background-color: rgb(53, 0, 53);
  color: rgb(216, 185, 247);
}

footer a {
  color: rgb(216, 185, 247);
}

@media only screen and (max-width: 950px) {
  header {
    display: none;
  }

  article {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 80vw;
  }

  footer {
    display: none;
  }
}
