* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(53, 0, 53);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 1%;
}

li a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
}

li {
  list-style: none;
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 40%;
  margin-left: 40%;
  border-radius: 45%;
  font-size: 2.2vw;
  text-align: center;
  background-image: linear-gradient(rgb(53, 0, 53), rgb(216, 185, 247));
}

body {
  background-image: url("https://images.wallpapersden.com/image/download/night-mountains-summer-illustration_65051_1920x1080.jpg");
  background-size: cover;
  background-attachment: fixed;
}

article {
  font-family: cursive;
  background-color: rgba(216, 185, 247, 0.8);
  background-size: 100%;
}

#Ensamble {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3vh;
}

#Ensamble img {
  width: 90vw;
}

#Ensamble p {
  width: 30%;
  padding-top: 5vh;
}

#Webutveckling {
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  align-items: center;
}

#Webutveckling p {
  margin: 2vw;
  padding: 2vw;
  width: 30vw;
  border: 10px blueviolet solid;
  border-radius: 20vw;
}

#Webutveckling img {
  height: 15vw;
}

#Programering {
  display: flex;
}

#Programering img {
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
}

#Programering aside {
  margin: 1.9vw;
  padding: 1vw;
  background-color: rgb(204, 184, 224);
  border: 10px blueviolet solid;
  border-top-right-radius: 20px;
  width: 18vw;
}

#DaoDac {
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#DaoDac p {
  width: 35vw;
}

#DaoDac img {
  margin: 4vh;
  border: 5px black solid;
  border-radius: 20px;
  max-width: 90%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  background-color: rgb(53, 0, 53);
  color: rgb(216, 185, 247);
}

footer a {
  color: rgb(216, 185, 247);
}

@media only screen and (max-width: 1200px) {
  header {
    display: none;
  }

  #Ensamble p {
    width: 70vw;
  }

  #Webutveckling {
    display: flex;
    flex-direction: column;
  }

  #Webutveckling p {
    width: 80vw;
  }

  #Programering {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Programering aside {
    align-items: center;
    width: 220px;
  }

  #Programering img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
  }

  #DaoDac p {
    width: 80vw;
  }

  footer {
    display: none;
  }
}
